__pycache__
.idea
data
.vscode
*.pyc
*.pyo
*.pyd
__pycache__
*.pkl
*.pt
*.pth
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.egg
*.egg-info
*.log
*.out
*.csv
*.json
*.db
*.sqlite
*.db-journal
*.hdf5
*.h5
*.npy
*.npz
*.pth.tar
*.pth.tar.gz
*.pth.tar.bz2
*.pth.tar.xz
